.head_1
{
    text-align: center;
    font-family: 'NanumSquareBold';
}

.head_2
{
    text-align:center;
    font-family: 'NanumSquare';
}

.homepageart
{
    display: flex;
}

.homepageart>img
{
    width: 100%;
    height: auto;
}

.profileimage
{
    display:flex;
    justify-content:center;
    padding-top: 20px;
}

.profileimage>img
{
    width:25px;
    height:auto;
}

.abouttext>p{
    color: black;
    text-align:center;
    font-family: 'NanumSquare';
}

.gomulilinks>p
{
    font-family: 'NanumSquare';
    text-align:center;
}
.gomulilinks>p>a
{
    font-family: 'NanumSquareBold';
}


.gamecontent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(150px, auto);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

div.gamecontent>div{
    background-color: beige;
    text-align:center;
}

div.gamecontent>div>p{
    font-family: 'NanumSquareBold';
    font-size: 30px;
}

div.gamecontent>div>div>img
{
    width: 100%;
    height: auto;
    padding-bottom: 2px;
}
